

body {
  background-color: grey; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Times New Roman', Times, serif;
  
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 7em;
  
}
main h2 {
  font-size: 1.8rem;
  font-weight: bold;

}
  

article {
  width: 250px;
  height: 200px;
  border: none;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 13px 13px 33px -4px rgba(0, 0, 0, 0.59);
  transition: all 1s;
  
}


@keyframes attack{
  0%{
    transform:perspective(300px) translateZ(150px);
    opacity: 0;
  }

  50%{
    transform:perspective(150px) translateZ(75px);
    opacity: 0;
    
  }
    
  

  100%{
      transform: translateZ(0px);
      opacity: 1;
  }
}





article:hover{
    transform: scale(1.2);
    z-index: 2;
    
}


.wart1{
  animation: attack 1s ;
}
.wart2{
  animation: attack 2s ;
}
.wart3{
  animation: attack 3s;
}
.wart4{
  animation: attack 4s;
}
.wart5{
  animation: attack 5s;
}
.wart6{
  animation: attack 6s;
}
.wart7{
  animation: attack 7s;
}
.wart8{
  animation: attack 8s;
}

.art1 {
  background-color: #dfdfb4;
  transform: rotate(354deg);
  
}

.art2 {
  background-color: #c2ecc4;
  transform: rotate(4deg);
}

.art3 {
  background-color: #bbbde0;
  transform: rotate(350deg) translate(-1px, -20px);
}

.art4 {
  background-color: #c2ecc4;
  transform: rotate(15deg) translate(5px, -20px);
}

.art5 {
  background-color: #dfdfb4;
  transform: rotate(354deg);
}

.art6 {
  background-color: #bbbde0;
  transform: rotate(353deg);
}

.art7 {
  background-color: #dfdfb4;
  transform: rotate(353deg);
}

.art8 {
  background-color: #c2ecc4;
  transform: rotate(9deg);
}
